<module href="/components/head.html"></module>
<link rel="stylesheet" href="index.css">

<body>

    <div class="header">
        <h1 class="main">Welcome to TheOcean</h1>
        <h1 class="secondary">A modern shop for the best of us</h1>
    </div>

    <a onclick="window.open('https\://discord.gg/bQgfFU65jv', '_blank');" href="#" class="float">
        <span class="tooltip left" data-text="Join the discord server">
            <i style="font-size: 20px;" class="fa-brands fa-discord my-float"></i>
        </span>
    </a>
    
    <module href="/components/bubble.html"></module>

</body>
