body{ 
    min-height: 100vh; 
    margin: 0; 
    
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
footer{ 
    min-height: 100px; 
    color: white;
    font-size: 30px;
    padding: 20px;
    background: #282938; 
    font-family: Helvetica, Arial, sans-serif;
}