@import '_center.scss';
@import '_bubble.scss';
@import '_tooltip.scss';
@import '_fonts.scss';
@import '_floating.scss';

$background-color: linear-gradient(to right, #1e3c72, #2a5298);

body {
    background: $background-color !important;
}

.header {
    @include centre();
    z-index: 999;
}

.main {
    /* make text unselectable */
    -webkit-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;

    text-shadow: 3px 3px 20px rgb(153, 163, 255),
    -2px 1px 20px rgb(153, 163, 255);

    color: white;
    font-family: "Moderne", Helvetica, sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;

    line-height: 0.1;
}

.border {
    @include centre(x);
    color: white;

    border-bottom: 2px solid currentColor;

    width: 62%;
}

.float{
    @include create_floating_button();
}

.my-float{
	margin-top: 20px;
}